

.CalendarMonth_caption {
    color: #484848;
    font-size: 14px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 37px;
    caption-side: initial;
}


.CalendarDay__selected_span {
    background: #ECEFF4;
    border: #87D8B6;
    color: #005f9b;
}



.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #3ca5fe;
    border: 1px double #00a699;
    color: #fff;
}


.DayPickerKeyboardShortcuts_showSpan {
    color: #f3f0f0;
    position: absolute;
}


.DateInput {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 140px;
    vertical-align: middle;
    font-size: 6px;
}


.DateInput_input {
    font-weight: 200;
    font-size: 10px;
    line-height: 10px;
    color: #0066cb;
    background-color: green;
    width: 99%;
    padding: 11px 11px 9px;
    border: 0;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: currentcolor;
        border-right-color: currentcolor;
        border-bottom-color: currentcolor;
        border-left-color: currentcolor;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 0;
}


.DateRangePickerInput_arrow_svg {
    vertical-align: middle;
    fill: #484848;
    height: 24px;
    width: 11px;
}


.DateInput_fangShape {
    fill: #9fd1fc;
}
